<!DOCTYPE html>

<!-- Footer -->
<footer class="text-center text-white mt-5 sticky-bottom" style="background-color: skyblue;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links -->
    <section class="container overflow-hidden">
      
      <!--Grid row-->
      <div class="row gx-5 justify-content-center m-auto">
        
        <!--Grid column-->
        <div class="col-lg-3 text-white col-md-6  mb-4 mb-md-0">
          <h7>Sponsorisé par: </h7>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="#" ><img class="bg-light" src="#" alt="Logo 1" width="100px" height="100px"></a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="#" ><img class="bg-light" src="#" alt="Logo 2" width="100px"></a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="#" ><img class="bg-light" src="#" alt="Logo 3" width="100px"></a>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      
      
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Last section of footer -->
  <div class="row bg-dark">
    <!-- Plan du site -->
    <div class="col-sm text-center p-3">
      <small><a href="#" >Plan du site</a></small>
    </div>

    <!-- Copyright -->
    <div class="col-sm text-center p-3">
      <small>Copyright &copy; OMEGA System DRC 2022. Tous droits réservés. <a href="index.php">www.omegasystem.org</a></small>
    </div>
  
    <!-- Connexion Admin -->
    <div class="col-sm text-center p-3">
      <small><a href="index_admin.php">Omega Admin</a></small>
    </div>
  </div>
  <!-- Last section of footer -->

</footer>
<!-- Footer -->
